# API 요청 URL
REACT_APP_API_URL=YOUR_API_URL

# 네이버 클라우드 CLOVA Studio API Key
REACT_APP_CLOVA_STUDIO_API_KEY=YOUR_CLOVA_STUDIO_API_KEY

# 네이버 클라우드 API Gateway Key
REACT_APP_APIGW_API_KEY=YOUR_APIGW_API_KEY

# CLOVA Studio 요청 ID
REACT_APP_CLOVASTUDIO_REQUEST_ID=YOUR_REQUEST_ID